<div class="menu">
  <div class="navbar">
    <div ui-sref="welcome" class="link link1" ui-sref-active="link-active">
      <p class="link-text">home</p>
    </div>
    <div ui-sref="code" class="link link2" ui-sref-active="link-active">
      <p class="link-text">code</p>
    </div>
    <div ui-sref="about" class="link link3" ui-sref-active="link-active">
      <p class="link-text">about</p>
    </div>
    <div ui-sref="code" class="link link4">
      <p class="link-text">x-men</p>
    </div>
    <div ui-sref="code" class="link link5">
      <p class="link-text">matrix</p>
    </div>
  </div>
</div>
