<div class="container">
  <h1 class="project-title">Recent Projects</h1>
    <margin-slide>
      <div class="project-back">
          <div class="trigger3"></div>
          <div class="test-content trigger2">
            <h1>test aadf dfa sdfa adsf adsf dfsa sfda adf sdf ds dsfafwfe dafsf cvda vr rggafad</h1>
          </div>

        <div class="color-wrapper">
          <div class="shade">
            <div class="cover">
              <h3 class="project-name">Blog</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="project-back2">
          <div class="trigger3"></div>
          <div class="test-content trigger2">
            <h3><span>Built With: </span>Java, Gradle, Junit, Spark, Velocity, Bootstrap, CSS, HTML, PostgreSQL, sql2o, JavaScript, JQuery</h3>
            <h3>Github: </h3>
          </div>

        <div class="color-wrapper">
          <div class="shade2">
            <div class="cover2">
              <h3>Portfolio Webpage</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="project-back3">
          <div class="trigger3"><img class="fantasy-image" src="/library/img/fantasy.png" alt=""></div>
          <div class="test-content trigger2">
            <h3><span>Built With: </span>Java, Gradle, Junit, Spark, Velocity, Bootstrap, CSS, HTML, PostgreSQL, sql2o, JavaScript, JQuery</h3>
            <h3>Github: </h3>
          </div>
        <div class="color-wrapper">
          <div class="shade3">
            <div class="cover3">
              <h3 class="project-name">Fantasy Football Calculator</h3>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </margin-slide>
  </div>

</div>
