<div class="projects">
  <div class="projects-row">
    <div class="projects-image">
      <img src="" alt="">
    </div>
    <div class="projects-content">
      <p class="content-text"><span class="built-text">Built With:</span> Javascript, AngularJS, NPM, Gulp, JQuery</p>
    </div>
  </div>
  <div class="projects-row">
    <div class="projects-image">

    </div>
    <div class="projects-content">
      <p class="content-text"><span class="built-text">Built With:</span></p>
    </div>
  </div>
  <animate-directive>
    <div class="main trigger">
      <div class="back">
        <h1>hi</h1>
      </div>
      <div align="middle" class="gg">
        <img class"front" src="http://www.fodors.com/ee/files/slideshows/Golden-Gate-Bridge.jpg" alt=""/>
      </div>
    </div>
  </animate-directive>
</div>
