<jquery-carousel>
  <div carousel id="wrapper">
    <div id="inner">
      <div id="carousel">
        <div class="slide">
          <div class="large"><img src="library/img/dot1.png" alt="dot1" width="450" /></div>
          <div class="small"><img src="library/img/dot2.png" alt="dot2" width="350" /></div>
        </div>
        <div class="slide">
          <div class="large"><img src="library/img/cfs1.png" alt="cfs1" width="450" /></div>
          <div class="small"><img src="library/img/cfs2.png" alt="cfs2" width="350" /></div>
        </div>
        <div class="slide">
          <div class="large"><img src="library/img/val1.png" alt="val1" width="450" /></div>
          <div class="small"><img src="library/img/val2.png" alt="val2" width="350" /></div>
        </div>
      </div>
      <div id="pager"></div>
    </div>
  </div>
</jquery-carousel>
