$blue: #7ACBF9;
$pink: #FFB7D7;

.artboard {
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  // background-color: green;
  margin: 0;
  z-index: 10;
}

.link {
  cursor: pointer;
  width: 20%;
  height: inherit;
  float: left;
  -webkit-box-shadow: 1px 7px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 7px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 7px 5px 1px rgba(0,0,0,0.75);
  .link-text{
    font-size: 2.5em;
    text-align: center;
    margin-top: 15px;
  }
}

.link-text:hover {
  color: white;
  -webkit-text-stroke: 1px $blue;
  text-shadow:
 -1px -1px 0 $blue,
  1px -1px 0 $blue,
  -1px 1px 0 $blue,
   1px 1px 0 $blue;
}

.link:active {
  margin-top: 11px;
  -webkit-box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 1px solid #777;
}

.link-active {
  background-color: yellow;
  margin-top: 11px;
  -webkit-box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -2px -11px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 1px solid #777;
}
