$blue: #7ACBF9;
$height: 960px;
$charcoal: #1e1e1e;
$row-width: 100%;
$row-height: 250px;
$darkblue: #1884fe;

.projects {
  height: 1010px;
  margin-top: 50px;
  // background-color: orange;
}
.projects-row {
  height: calc(100%/3);
  border-bottom: 3px solid white;
  display: flex;
  .projects-image {
    width: 50%;
    height: 100%;
    .project-image {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .projects-content {
    background-color: gray;
    width: 50%;
    height: 100%;
    .content-text {
      margin-top: 5px;
      padding: 4%;
    }
    .built-text {
      margin: 0;
      color: $blue;
      font-style: italic;
      font-size: 2em;
    }
  }
}

.project-title {
  font-size: 3.5em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 400px){
  .project-title {
    font-size: 2.5em;
  }
}

.project-back, .project-back2, .project-back3 {
  position: relative;
  width: $row-width;
  height: $row-height;
  overflow: hidden;
  .trigger3 {
    // width: calc($row-width/5);
    width: 50%;
    height: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 4;
    .fantasy-image {
      width: 50%;
    }
  }
  .test-content {
    width: 50%;
    height: 100%;
    // position: absolute;
    float: right;
    top: 0;
    right: 0;
    border: 3px solid $charcoal;
    background-color: white;
    // background-color: rgba(0,191,255,1);
    z-index: 4;
    h3 {
      margin-left: 20px;
    }
  }
  .color-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 7;

    .cover, .cover2, .cover3 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      width: 50%;
      height: $row-height;
      background: rgba(0,191,255,1);
      border: 2px solid $charcoal;
      border-left: 0;
      .project-name {
        width: 300px;
        margin-left: 20px;
        color: white;
        hr {

        }
      }
    }
    .shade, .shade2, .shade3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: $row-height;
      background: rgba(0,191,255, 0.75);
      z-index: 4;
      border: 2px solid $charcoal;
      border-right: 0;
      h3 {
        margin-left: 20px;
        font-style: italic;
      }
    }
  }
}

.circle, .circle2 {
  border-radius: 50%;
	width: 50px;
	height: 50px;
  border: 3px solid white;
}

.circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.circle2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.triangle, .triangle-second {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 23px 16px 0;
  border-color: transparent #ffffff transparent transparent;
}

.triangle-third, .triangle-fourth {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 16px 23px;
  border-color: transparent transparent transparent #ffffff;
}

.triangle {
  position: absolute;
  bottom: 18px;
  right: 20px;
}

.triangle-second {
  position: absolute;
  bottom: 18px;
  right: 35px;
}

.triangle-third {
  position: absolute;
  bottom: 18px;
  left: 20px;
}

.triangle-fourth {
  position: absolute;
  bottom: 18px;
  left: 35px;
}
